<% provide(:title, t(".about")) %>
<h1><%= t ".about" %></h1>
<p>
  <%= t ".title4" %> <%= link_to t(".title1"), t(".link") %>
  <%= t ".title5" %>
  <%= link_to t(".book"), t(".link1") %>
  <%= t ".title6" %>
  <%= link_to t(".title7"), t(".link3") %>
  <%= t ".title2" %>
  <%= link_to t(".title8"), t(".link4") %>
  <%= t ".title3" %>
</p>
