<% provide(:title, t(".help")) %>
<h1><%= t ".help" %></h1>
  <p>
    <%= t ".title1" %>
    <%= link_to t(".title2"), t(".link1") %>
    <%= t ".title3" %>
    <%= link_to t(".title4"), t(".link2") %>
  </p>
