<%= link_to "English", locale:"en" %>
<%= link_to "Vietnamese", locale:"vi" %>
<% provide :title, t(".home") %>
  <h3>~~~~~<%= t ".home" %>~~~~~</h3>
  <p>
  	<%= t ".title1" %>
  	<a href="https://www.railstutorial.org/">https://www.railstutorial.org</a> <%= t ".title2" %>
  </p>
