<% provide(:title, t("layouts.header.title4")) %>
<h1>Log in</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.submit t("layouts.header.title4"), class: "btn btn-primary" %>
    <% end %>

    <p><%= t ".new_user" %><%= link_to t("static_pages.home.sign"), signup_path %></p>
  </div>
</div>
