<h1><%= t "pwd_reset" %></h1>

<p><%= t "click_reset" %></p>

<%= link_to t("reset_pwd"), edit_password_reset_url(@user.reset_token,
  email: @user.email) %>

<p><%= t "hours" %></p>

<p><%= t "if_pwd" %></p>
