<footer class="footer">
  <small>
    <%= t ".title" %> <%= link_to t(".ruby"), t(".link") %>
    <%= t ".title1" %> <%= link_to t(".title2"), t(".link1") %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".title4"), about_path %></li>
      <li><%= link_to t(".title5"), contact_path %></li>
      <li><%= link_to t(".title3"), t(".link2") %></li>
    </ul>
  </nav>
</footer>
